// Application
html {
  font-family: 'Shojumaru', cursive;
}
a {
  text-decoration: none;
}

// Navigation Bar
.Navigation-link {
  color: white;
}
.Title-wrapper {
  width: 100%;

  h2 {
    text-align: right;
  }
}
.App-icon {
  width: 50px;
  padding-left: 20px;
}

// Home
.Home-container-title {
  color: limegreen;
  font-size: 30px;
  font-weight: 900;
  margin: 30px 0 20px 2.5%;
}

// Dishes

.Card {
  width: 300px;
  height: 300px;
  margin: 20px;
}
.Card-header span {
  color: orangered;
  font-size: 20px;
  font-weight: 900;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 230px;
}
.Card-image {
  height: 150px;
}
.Card-action-container {
  padding-top: 6%;
}
.Card-price {
  font-size: 25px;
}
